# Debian package build artifacts
__pycache__/
*.py[cod]
/html/locales/

*.build
*.buildinfo
*.changes
*.deb
*.dsc
*.tar.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/minios-welcome/
debian/tmp/
