Source: minios-welcome
Section: utils
Priority: optional
Maintainer: crims0n <crims0n@minios.dev>
Build-Depends: debhelper (>= 11), python3
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://minios.dev

Package: minios-welcome
Architecture: all
Depends: fonts-roboto-light, ${misc:Depends}
Description: MiniOS HTML welcome page
 MiniOS welcome page - HTML page that opens when you start your
 browser for the first time in MiniOS.
